.DS_Store
/#*#
*~
/bin
/.project
/.classpath
/.settings
/classes
/test-classes
/test-result
/RONDHUIT-W2VL-*.jar
/api
/javadoc-release
/*.temp
/text8*
/vectors*.txt
solrhome/*/conf/_rest_managed.json
solrhome/*/data
/work
/word-clusters.txt
